<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Joxx</title>
</head>
<body class=" bg-blue-950"> 
    

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://img.freepik.com/free-photo/view-3d-smiley-happy-sun-with-blue-background_23-2150937810.jpg?t=st=1702658841~exp=1702662441~hmac=acbef136fa1bb573382a7c271cdd50bc8bc426a3cf929fe49491a3ef276a9660&w=360" class="h-16 rounded-full bg-gray-900" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">JokeHub</span>
    </a>
    <div class="flex md:order-2">
      <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </button>
      <div class="relative hidden md:block">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
        <input type="text" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
      </div>
      <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
        <div class="relative mt-3 md:hidden">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="text" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
        </div>
        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="https://jokeshub-dtx0.onrender.com/getRandomJoke" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Joke</a>
          </li>
          <li>
            <a href="https://jokeshub-dtx0.onrender.com/getRandomDadJoke" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Dad joke</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded-full" alt="hero" src="https://img.freepik.com/free-photo/man-with-mustache-is-laughing-has-yellow-hat-his-head_1340-41432.jpg?t=st=1702657471~exp=1702661071~hmac=8de5e4a01c8e11d54bc94f7cfb3cc4a550337f0bb746f2ab98dee0ae3abf2c59&w=740">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-blue-200">App Description
        </h1>
        <p class="mb-8 text-white leading-relaxed">If you're feeling down and in need of a good laugh, then this list of the top 10 jokes is just what the doctor ordered. From clever one-liners to witty anecdotes, these jokes are sure to tickle your funny bone and leave you in stitches. So sit back, relax, and get ready to laugh out loud with our carefully curated selection of the best jokes you'll ever hear. Don't say we didn't warn you - we're not responsible for any spontaneous bouts of laughter that may ensue!<p>
        <div class="flex justify-center">
          <a href="https://jokeshub-dtx0.onrender.com/getRandomJoke"><button class="inline-flex text-white bg-blue-800 border-0 py-2 px-6 focus:outline-none hover:bg-blue-900 rounded text-lg">Generate a Joke</button></a>
         <a href="https://jokeshub-dtx0.onrender.com/getRandomDadJoke"> <button class="ml-4 inline-flex text-slate-500 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Generate a Dad Joke</button></a>
        </div>
      </div>
    </div>
  </section>
  

   
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">Mood down!! wanna hear something funny ? Just click the button and generate on the go...</h1>
        <a href="https://jokeshub-dtx0.onrender.com/getRandomJoke"><button class="flex-shrink-0 text-white bg-blue-500 border-0 py-2 px-9 focus:outline-none hover:bg-blue-800  rounded-full text-lg mt-10 sm:mt-0">Joke!</button></a>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">

        <a href="https://jokeshub-dtx0.onrender.com/getRandomDadJoke"><button class="flex-shrink-0 text-white bg-blue-700 border-0 py-2 px-8 focus:outline-none hover:bg-blue-800 rounded-full text-lg mt-10 sm:mt-0">Crack!</button></a>
        <h1 class="flex-grow sm:pr-16 text-2xl pl-9 font-medium title-font text-white">Wanna hear something what our dads joke about!! well may seem a little old fashioned but funny nevertheless!!</h1>
       
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Joke Hub: where chuckles roam free</h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-xl  text-blue-400">Step into the realm of unbridled hilarity with LaughHub, your go-to destination for instant laughter! Our Jokes Generator is a laughter-fueled engine, ready to transform any moment into a comedy spectacle. Whether you're in need of a quick pick-me-up or gearing up for a humor-packed gathering, LaughHub delivers the punchlines that turn smiles into outright laughter.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-blue-900 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-photo/large-mammal-wild-horned-rhinoceros-looking-camera-generated-by-artificial-intelligence_25030-63382.jpg?t=st=1702661140~exp=1702664740~hmac=76ac5c38a65db91d3f9df9b48007c1aa87851011d49a9e60a3b9998f5a1692aa&w=1380" alt="content">
            
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
                What's the difference between a hippo and a zippo?</h2>
            <p class="leading-relaxed text-white text-base">One is really heavy, the other is a little lighter.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-blue-900 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://t4.ftcdn.net/jpg/06/38/56/13/240_F_638561313_1xqvCWZMUtQYAupdqJ8g0jWN7UCL9rPP.jpg" alt="content">
            
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">I used to work at a stationery store. But, I didn't feel like I was going anywhere. So, I got a job at a travel agency. </h2>
            <p class="leading-relaxed text-white text-base">Now, I know I'll be going places.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-blue-900 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-photo/view-3d-happy-men-with-mouths-wide-open_23-2150709954.jpg?t=st=1702661328~exp=1702664928~hmac=71de038c9bf4067f2ac2c038b169cb7d0ff317a7e64163916cf3bc812ae71233&w=740" alt="content">
            
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">There are 10 kinds of people in this world.</h2>
            <p class="leading-relaxed text-white text-base">Those who understand binary, those who don't, and those who weren't expecting a base 3 joke.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-blue-900 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-photo/view-snowman-with-winter-landscape-snow_23-2150635365.jpg?t=st=1702661258~exp=1702664858~hmac=948ddf5124de80b7542905002aa32368f04899535fe61df4c0358ee3d10b77ca&w=1380" alt="content">
            
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">What did one snowman tell to another ?</h2>
            <p class="leading-relaxed text-white text-base">Smells like carrots!!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-white mb-12 text-center">Testimonials</h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-blue-900 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed text-white mb-6">JokeHub is my daily dose of sunshine! The jokes are not just funny; they're brilliantly crafted to bring out genuine, hearty laughs. I love how easy it is to lighten the mood with a simple click. Kudos to the team for spreading joy one joke at a time!</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://img.freepik.com/free-photo/portrait-man-smiling-city_23-2150771135.jpg?t=st=1702661933~exp=1702665533~hmac=b9a8bd91d702d27ce1727de47a6d3c9607dc938115d19b5745247372581f3a57&w=360" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
                
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-blue-900 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed text-white mb-6">I stumbled upon JokeHub when I needed a mood lift, and it's been a laughter-filled journey ever since. The jokes are like a breath of fresh air, and the user-friendly interface makes it a joy to navigate. It's a must-visit for anyone who believes that laughter truly is the best medicine!<p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://img.freepik.com/free-photo/portrait-man-smiling-city_23-2150771187.jpg?t=st=1702661888~exp=1702665488~hmac=e8e5d536a52eb02dca56aaad93abc155cd940ca871f85d995d0af39b2d8bded7&w=360" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-blue-200">Jokes hub</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-blue-300 text-xl">Get ready to enter the laughter laboratory where merriment meets innovation – welcome to JokeGenius! We're not just a joke generator; we're your personal comedy companion, crafting rib-tickling moments on demand. Dive into a world of wit, where each click unveils a treasure trove of giggles. Whether you're looking for a daily dose of humor or an arsenal of clever quips for any occasion, JokeGenius has you covered. Join the laughter revolution, share the joy, and let the hilarity ensue. Life's too short not to laugh, and with JokeGenius, your daily dose of happiness is just a click away!</p>
      </div>
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M8 17l4 4 4-4m-4-5v9"></path>
              <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-white">2.7K</h2>
            <p class="leading-relaxed text-white">Downloads</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-white">1.3K</h2>
            <p class="leading-relaxed text-white">Users</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M3 18v-6a9 9 0 0118 0v6"></path>
              <path d="M21 19a2 2 0 01-2 2h-1a2 2 0 01-2-2v-3a2 2 0 012-2h3zM3 19a2 2 0 002 2h1a2 2 0 002-2v-3a2 2 0 00-2-2H3z"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-white">74</h2>
            <p class="leading-relaxed text-white">Files</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-white">46</h2>
            <p class="leading-relaxed text-white">Places</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex items-center md:flex-row flex-col">
      <div class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto md:text-left text-center">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Random Jokes on the go</h2>
        <h1 class="md:text-3xl text-2xl font-medium title-font text-blue-200">Join with Jokes hub now!</h1>
      </div>
      <div class="flex md:ml-auto md:mr-0 mx-auto items-center flex-shrink-0 space-x-4">
        <button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 512 512">
            <path d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z"></path>
          </svg>
          <span class="ml-4 flex items-start flex-col leading-none">
            <span class="text-xs text-gray-600 mb-1">GET IT ON</span>
            <span class="title-font font-medium">Google Play</span>
          </span>
        </button>
        <button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 305 305">
            <path d="M40.74 112.12c-25.79 44.74-9.4 112.65 19.12 153.82C74.09 286.52 88.5 305 108.24 305c.37 0 .74 0 1.13-.02 9.27-.37 15.97-3.23 22.45-5.99 7.27-3.1 14.8-6.3 26.6-6.3 11.22 0 18.39 3.1 25.31 6.1 6.83 2.95 13.87 6 24.26 5.81 22.23-.41 35.88-20.35 47.92-37.94a168.18 168.18 0 0021-43l.09-.28a2.5 2.5 0 00-1.33-3.06l-.18-.08c-3.92-1.6-38.26-16.84-38.62-58.36-.34-33.74 25.76-51.6 31-54.84l.24-.15a2.5 2.5 0 00.7-3.51c-18-26.37-45.62-30.34-56.73-30.82a50.04 50.04 0 00-4.95-.24c-13.06 0-25.56 4.93-35.61 8.9-6.94 2.73-12.93 5.09-17.06 5.09-4.64 0-10.67-2.4-17.65-5.16-9.33-3.7-19.9-7.9-31.1-7.9l-.79.01c-26.03.38-50.62 15.27-64.18 38.86z"></path>
            <path d="M212.1 0c-15.76.64-34.67 10.35-45.97 23.58-9.6 11.13-19 29.68-16.52 48.38a2.5 2.5 0 002.29 2.17c1.06.08 2.15.12 3.23.12 15.41 0 32.04-8.52 43.4-22.25 11.94-14.5 17.99-33.1 16.16-49.77A2.52 2.52 0 00212.1 0z"></path>
          </svg>
          <span class="ml-4 flex items-start flex-col leading-none">
            <span class="text-xs text-gray-600 mb-1">Download on the</span>
            <span class="title-font font-medium">App Store</span>
          </span>
        </button>
      </div>
    </div>
  </section>

  <!-- footer -->

  <footer class="text-gray-600 bg-[#191970] body-font">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Know More</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="/" class="text-blue-200 cursor-pointer hover:text-blue-300">Home</a>
            </li>
            <li>
              <a class="text-blue-200 cursor-pointer hover:text-blue-300">About</a>
            </li>
            <li>
              <a class="text-blue-200 hover:text-gray-800"></a>
            </li>
            <li>
              <a href="/" class="text-blue-200 cursor-pointer hover:text-blue-300">Contact Us</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Jokes</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://jokeshub-dtx0.onrender.com/getRandomJoke" class="text-blue-200 hover:text-blue-300">Joke</a>
            </li>
            <li>
              <a href="https://jokeshub-dtx0.onrender.com/getRandomDadJoke" class="text-blue-200 hover:text-blue-300">Dad Joke</a>
            </li>
          </nav>
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-blue-100 tracking-widest text-sm mb-3">SUBSCRIBE</h2>
          <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
            <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
              
              <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Join us</button>
          </div>
          <p class="text-white text-sm mt-2 md:text-left text-center">Sign up to join now!
          </p>
        </div>
      </div>
    </div>
    <div class="bg-[#191970]">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img class="h-16 rounded-full" src="https://img.freepik.com/free-photo/view-3d-smiley-happy-sun-with-blue-background_23-2150937810.jpg?t=st=1702658841~exp=1702662441~hmac=acbef136fa1bb573382a7c271cdd50bc8bc426a3cf929fe49491a3ef276a9660&w=360" alt="">
          <span class="ml-3 text-white text-xl">Joxx</span>
        </a>
        <p class="text-sm text-white sm:ml-6 sm:mt-0 mt-4">© 2020 
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>


    <script src="index.js"></script>
</body>
</html>